@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Кнопки*/
.button {
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 50px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-here {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  box-sizing: border-box;
  margin-left: 20px;
  padding: 8px 34px;
  min-width: 160px;
  max-width: 260px;
  border-radius: 4px;
}

.button-search {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 50px;
  min-width: 276px;
  max-width: 376px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #756157;
}

.button:hover {
  background-color: #68A2CA;
}

.button:focus-visible {
  background-color: #68A2CA;
}

.button:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-here:hover,
.button-here:focus {
  background-color: #72554f;
}

.button-here:active {
  background-color: #756157;
}

.button-search:hover,
.button-search:focus {
  background-color: #72554f;

}

.button-search:active {
  background-color: #756157;
}

.container {
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #FFFFFF;
}

/*Шапка*/
.page-header {
  color: #000000;
  background-color: #FFF;
  padding: 0 70px;
}

.navigation {
  display: flex;
  align-items: center;
  min-height: 64px;
}

.navigation-logo-link {
  position: relative;
  margin-right: 30px;
  width: 140px;
  height: 64px;
  align-self: flex-start;
}

.navigation-logo-img {
  position: absolute;
  z-index: 20;
}

.navigation-main-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 340px;
  max-width: 420px;
  list-style: none;
  align-items: center;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.4;
}

.navigation-link {
  display: block;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFF;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-item-current {
  position: relative;
}

.navigation-item-current::after {
  position: absolute;
  content: "";
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-user-list {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  min-width: 50px;
  max-width: 187px;
  align-items: center;
}


/*Иконки навигации пользователя*/
.navigation-link-search {
  background-image: url("../images/icons/nav-icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-search:hover,
.navigation-link-favorite:hover {
  opacity: 0.6;
}

.navigation-link-search:active,
.navigation-link-favorite:active {
  opacity: 0.4;
}

.navigation-user-list .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 12px;
}

.navigation-link-favorite {
  position: relative;
  background-image: url("../images/icons/nav-icons/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.notification-badge {
  position: absolute;
  top: 3px;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  background-color: #7DB54F;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}

.main-container {
  flex-grow: 1;
}

.main-title {
  position: relative;
  background-image: url("../images/main-page/mainphoto.jpg");
  background-size: cover;
}

.main-title:after {
  position: absolute;
  content: "";
  bottom: 0;
  background-image: url("../images/icons/vector.svg");
  width: 100%;
  height: 57px;
}

.main-index,
.main-inner {
  color: #000000;
  background-color: #FFF;
}

.main-title-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
  min-height: 352px;
}

/*Преимущества*/
.advantages-container {
  padding-top: 69px;
  padding-bottom: 89px;
}

.advantages-intro-wrapper {
  width: 651px;
  margin: 0 auto;
  text-align: center;
}

.advantages-intro-title {
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-intro-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list-town,
.advantages-dignities-list {
  display: grid;
  grid-template-columns:repeat(3, 400px);
  grid-template-rows: 385px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list-bridge {
  display: grid;
  grid-template-columns:repeat(3, 400px);
  grid-template-rows: 385px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list-reverse {
  flex-direction: row-reverse;
}

.advantages-item-bridge {
  grid-column: 3/4;
  width: 230px;
  min-height: 179px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  padding: 103px 85px;
}

.advantages-img-bridge {
  grid-row: 1/2;
}

.advantages-img {
  display: flex;
}

.advantages-title {
  margin: 0 0 62px 0;
  line-height: 28px;
  font-size: 24px;
  text-transform: uppercase;
}

.advantages-title-current {
  position: relative;
}

.advantages-title-current:after {
  position: absolute;
  content: "";
  left: 85px;
  right: 85px;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: #FFFFFF4D;
}

.advantages-item {
  width: 230px;
  min-height: 179px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  padding: 103px 85px;
}

.advantages-description {
  line-height: 21px;
  font-size: 18px;
  margin: 0;
}

.advantages-title-dignities-current {
  position: relative;
}

.advantages-title-dignities-current:after {
  position: absolute;
  content: "";
  left: 85px;
  right: 85px;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
}

.advantages-dignities-item {
  width: 230px;
  min-height: 179px;
  margin: 0 auto;
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px;
}

.advantages-dignities-item-color {
  background-color: rgba(131, 179, 211, 0.20);
}

/* Инфраструктура */
.infrastructure-container {
  padding: 64px 0;
}

.infrastructure-intro-wrapper {
  width: 505px;
  margin: 0 auto;
  text-align: center;
}

.infrastructure-intro-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.infrastructure-intro-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

li.infrastructure-item.infrastructure-item-color {
  background-color: #FFFFFF;
}

/*Список*/
.infrastructure-services-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.infrastructure-item {
  width: 230px;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  text-align: center;
  padding: 151px 85px 80px;
}

/*Иконки инфраструктуры*/
.infrastructure-item-icon-housing {
  background-image: url("../images/icons/infrastructure/housing.svg");
  background-repeat: no-repeat;
  background-position: right 163px top 80px;
}

.infrastructure-item-icon-eating {
  background-image: url("../images/icons/infrastructure/eating.svg");
  background-repeat: no-repeat;
  background-position: right 163px top 80px;
}

.infrastructure-item-icon-souvenirs {
  background-image: url("../images/icons/infrastructure/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: right 163px top 80px;
}

.infrastructure-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 30px 0;
}

.infrastructure-description {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 21px;
}

/*Поиск гостиниц*/
.search {
  padding: 96px 304px;
}

.search-wrapper {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}

/*Подписка*/
.subscription {
  background-image: url("../images/main-page/subscribe.jpg");
  padding: 96px 258px 104px;
}

.subscription-catalog {
  background: #FFFFFF;
  padding: 96px 258px 110px;
}

.subscription-wrapper {
  width: 684px;
  margin: 0;
  text-align: center;
}

.subscription-title {
  font-size: 30px;
  /*line-height: 36px;*/
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-top: 0;
  /*margin-bottom: 20px;*/
  margin-bottom: 14px;

}

.subscription-catalog-title {
  font-size: 30px;
  /*line-height: 36px;*/
  line-height: 52px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-top: 0;
  /*margin-bottom: 20px;*/
  margin-bottom: 14px;

}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscription-catalog-description {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

.newsletter-form-wrapper {
  display: flex;
}

.input-field {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
  outline: none;
}

.input-field:hover {
  background: #E6E6E6;
}

.input-field:focus {
  outline: 3px solid #83B3D3;
}

.input-field:active {
  outline: 3px solid #000000;
}
.input-field:disabled {
  color: #E5E5E5;
}


/*  Подвал  */
.page-footer {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #FFF;
}

.page-footer-container {
  display: grid;
  grid-template-columns: 150px 320px 106px;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 144px;
  max-width: 235px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: #83B3D3;
  height: 40px;
  background-color: #FFF;
  outline: none;
}

.footer-social-item {
  width: 37px;
  height: 40px;
  padding: 0 5px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #68A2CA;

}

.footer-social-link:active {
  color: #68A2CA4D;
}

.footer-phone-wrapper {
  width: 331px;
  min-height: 40px;
  max-height: 80px;
  margin: 0;
  text-align: center;
}

.footer-contacts-address-phone {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  outline: none;
}

.footer-contacts-address-phone:hover,
.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: #7561574D;
}

.webdeveloper-wrapper {
  width: 115px;
  max-height: 33px;
}

.webdeveloper-logo-link {
  color: #000000;
  outline: none;
}

.webdeveloper-logo-link:hover,
.webdeveloper-logo-link:focus {
  color: #756157;
}

.webdeveloper-logo-link:active {
  color: #7561574D;
}


/*  Каталог  */
.inner-header {
  margin: 0;
}

.inner-header-title {
  margin: 0;
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}

/*  Хлебные крошки  */
.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 8px 0 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 22px;
  background-image: url("../images/icons/catalogpage-simbols/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center right 10px;
}

.breadcrumbs-link-main {
  display: block;
  padding: 5px;
}

.breadcrumbs-link-hotels {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

/*  Обертка фильтра каталога  */
.catalog-filter-wrapper {
  background-image: url("../images/catalog/filter-img.jpg");
  background-size: cover;
  padding: 7px 70px 70px;
  color: #ffffff;
}

/*  Фильтр-сортировка гостиниц  */
.catalog-services {
  margin-top: 40px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  min-height: 240px;
}

.catalog-filter-service__container {
  display: flex;
  width: 371px;
  justify-content: space-between;
}

.catalog-filter-price__container {
  display: flex;
  justify-content: space-between;
  width: 575px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

/*control*/
.control {
  position: relative;
  display: block;
}

/* mark */
.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  border-radius: 4px;
  background-color: #FFF;
  /*cursor: pointer;*/
}

.control-label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input:active + .control-mark {
  background-color: transparent;

}

/* radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
}


.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: url("../images/icons/catalogpage-simbols/tick.svg");
  top: -5px;
  left: 5px;
  z-index: 1;
}

/*   range-slider */
.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.range-input-price__from {
  width: 80px;
  padding: 12px 43px 12px 20px;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
  border: none;
  outline: none;
}

.range-input-price__to {
  width: 80px;
  padding: 12px 43px 12px 20px;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 0 4px 4px 0;
  background: #F2F2F2;
  border: none;
  outline: none;
}

.range-input-price__from::-webkit-outer-spin-button,
.range-input-price__from::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-price__to::-webkit-outer-spin-button,
.range-input-price__to::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-price__from:hover,
.range-input-price__to:hover {
  background: #E6E6E6;
}

.range-input-price__from:focus-visible,
.range-input-price__to:focus-visible {
  outline: 3px solid #68A2CA;

}

.range-input-price__from:active,
.range-input-price__to:active {
  outline: 2px solid #000;
  background: #F2F2F2;
}

.range-input-price__from:disabled,
.range-input-price__to:disabled {
  color: rgba(0, 0, 0, 0.3);

}

.catalog-filter-group__price {
  width: 314px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-label {
  position: relative;
}

.range-input__from {
  position: absolute;
  opacity: 0.3;
  color: #000000;
  top: 12px;
  right: 20px;
  z-index: 1;
}

.range-input__to {
  position: absolute;
  opacity: 0.3;
  color: #000000;
  top: 12px;
  right: 20px;
  z-index: 1;
}

/*   Полоса прокрутки */
.range-scale {
  position: relative;
  width: 286px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.44);
  margin-top: 87px;
}

.range-bar {
  position: absolute;
  background-color: #FFF;
  height: 4px;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 25%;
  cursor: pointer;
  border: none;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

/*  select  */
.select-control {
  width: 292px;
  font-family: inherit;
  padding: 14px 40px 14px 20px;
  color: #333;
  font-size: 18px;
  line-height: 21px;
  margin-right: 70px;
  appearance: none;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-image: url("../images/icons/catalogpage-simbols/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  outline: none;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus-visible {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
}

/*  Кнопки  */
.filter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 191px;
}

.button-submit {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 8px 25px;
  width: 100%;
  border-radius: 4px;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 8px 25px;
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
}

.button-reset:hover {
  background-color: transparent;
  opacity: 0.7;
}

.button-reset:focus-visible {
  outline: 2px solid #68A2CA;
  background-color: transparent;
}

.button-reset:active {
  background-color: transparent;
  opacity: 0.4;
}

.button-reset:disabled {
  opacity: 0.1;
  background-color: transparent;

}


/*    */
.catalog-hotels {
  padding: 50px 70px 60px;
}

.sorting-wrapper {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  align-items: center
}

.sorting-hotels {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}


/*  sorting-button каталога  */
.sorting-button-wrapper {
  display: flex;
  gap: 8px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  outline: none;
}

.card-grid-toggle-current,
.card-grid-toggle:hover,
.card-grid-toggle:active {
  border: 2px solid #000;
}

.card-grid-toggle:focus-visible {
  border: 2px solid #68A2CA;
}

/*  Список гостиниц  */
.hotel-list {
  display: grid;
  grid-template-columns:repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-img-link {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-item {
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.hotel-card-title {
  color: #000000;
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

}

.hotel-card-price {
  margin: 0;
  text-align: end;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

}

.hotel-card-content {
  /*display: flex;*/
  /*flex-direction: column;*/
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  align-items: center;
  margin-top: 16px;
}


.hotel-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: #F2F2F2;
  margin: 0;
  height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}


.hotel-card-detailed-button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  box-sizing: border-box;
  padding: 8px 25px;
  width: 100%;
  max-width: 240px;
  border-radius: 4px;
  text-transform: uppercase;

}

.hotel-card-favorite-button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 8px 20px;
  min-width: 140px;
  max-width: 240px;
  border-radius: 4px;
}

.hotel-card-favorite-button-color {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 8px 20px;
  min-width: 140px;
  max-width: 240px;
  border-radius: 4px;
  background-color: #7DB54F;
}

/*  button-состояния  */
.hotel-card-detailed-button:hover,
.hotel-card-detailed-button:focus {
  background-color: #72554f;
}

.hotel-card-favorite-button-color:hover,
.hotel-card-favorite-button-color:focus {
  background-color: #6C9E42;
}


/*  Звезды  */
.hotel-stars {
  height: 18px;
  background-image: url(/images/icons/catalogpage-simbols/star.svg);
  background-repeat: space;
}

.hotel-stars-2 {
  width: 39px;
}

.hotel-stars-3 {
  width: 61px;
}

.hotel-stars-4 {
  width: 83px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #E6E6E6;
}

/*  Пагинация  */
.pagination {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  border-radius: 4px;
  background: #82B3D3;
  outline: none;
  border: none;

}

.pagination-link-ellipsis {
  color: #000000;
  background-color: #ffffff;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-link:hover,
.pagination-link:focus {
  background: #68A2CA;
}

.pagination-link:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background: #F2F2F2;

}

.pagination-link-ellipsis:hover,
.pagination-link-ellipsis:active,
.pagination-link-ellipsis:focus {
  background-color: #ffffff;
}

