
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000 ;
  background-color: #FFF;
}

.button{
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.page-header{
  color: #000000;
  background-color: #FFF;
}

.navigation{
  display: flex;
  width: 1060px; /*Оставил ширину,хотя без нее мне нравится больше!!!!!*/
  height: 64px;
  margin: 0 auto;
  padding: 0 70px;
  justify-content: space-between;
  align-items: flex-start
}
.logo-links{
  display: flex;
  height: 64px;
  align-items: center;
  gap: 30px;       /*!!!!Как лучше сделать??? оставить свойство gap или поставить margin????*/
}
.navigation-logo-link{
  width: 140px;
  height: 70px;
}

.navigation-link{
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFF;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly; /*Указал пока это свойство */
  padding: 0;
  width: 460px;   /*Размер указал с запасом под дополнительный элемент, по умолчанию стоит 339px*/
}

.user-links{
  display: flex;
  height: 64px;
  align-items: center;
  gap: 20px;
}

.navigation-user{
  display: flex;
  align-items: center;
  justify-content: space-evenly; /*Указал пока это свойство */
  padding: 0;
  width: 310px  /*Размер указал с запасом под дополнительный элемент,по умолчанию стоит 268px. Нужен ли он вообще */

}

.navigation-user-link{
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFF;
  text-transform: capitalize;
  text-decoration: none;
}

.button-here{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  display: flex;
  width: 160px;
  padding: 8px 50px; /*У меня кнопка не соответствует макету по ширине и выпадает из края страницы !!!!!*/
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap:20px;
}

.main-container {
  flex-grow: 1;
}

.main-title{
  background-image:url("../images/catalog/mainphoto.jpg") ;
  color: #000000;
  background-color: #FFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container{
width: 1200px;
margin: 0 auto;
}

.main-title-img{
display: block;
  margin: 0 auto;
}

.advantages{
  text-align: center;
}

.advantages-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
/*доделать ниже*/
.advantages-list {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.advantages-item{

}

.infrastructure{
  text-align: center;
}

.infrastructure-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.infrastructure-list{
  text-align: center;
}

.infrastructure-title{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search{
  text-align: center;
}

.search-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.subscription{
  background-image: url("../images/catalog/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-title{
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.subscription-description{
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.button-search{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.page-footer{
  font-size: 14px;
  color: #000000;
  background-color: #FFF;
}

.footer-contacts-address-phone{
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;

  color:  #000000;
}

.webdeveloper-logo-link  {
  width: 115px;
  height: 33px;
}




